body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 20rem;
    justify-content: center;
    align-items: center;

}

.test {
    width: 40rem;
    height: 40rem;

}

@media (max-width: 450px) {
    div {
        display: flex;
        flex-direction: column;
        height: 6rem;
        justify-content: center;
        align-items: center;
    }
}